body {
    font-family: 'Roboto',
        sans-serif;
}

.top-section {
    text-align: center;
    background-image: url(images/donation1.jpg);
    background-size: 100%;
    height: 600px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    padding-top: 100px;
    color: lightgray;
}

h1 {
    font-size: 50px;
}

.tag-line {
    font-size: 20px;
    margin-bottom: 70px;
}

.donate-button {
    text-decoration: none;
    background-image: linear-gradient(to top right, skyblue, blue);
    padding: 20px 30px;
    border-radius: 20px;
    color: white;
}

.section-title {
    font-size: 40px;
}

.second-section {
    text-align: center;
    margin-top: 100px;
}

.amount {
    display: flex;
}

.tk {
    padding: 35px;
    font-size: 35px;
    font-weight: 900;
    margin-right: 20px;
    background-color: rgb(241, 239, 235);
    border-radius: 10px;
}

#selected {
    padding: 35px;
    font-size: 35px;
    font-weight: 900;
    margin-right: 20px;
    background-color: rgb(207, 228, 245);
    color: steelblue;
    border: 3px solid steelblue;
    border-radius: 10px;
}

.left {
    margin-left: 200px;
}

.input-amount {
    text-align: center;

}

hr {
    width: 1000px;
}

.donate {
    margin-left: 590px;
    margin-top: 50px;
}

.third-section {
    width: 700px;
    text-align: center;
    margin-top: 100px;
    margin-left: 320px;
}

h3 {
    font-weight: 900;
    font-size: 25px;
}

.food {
    width: 350px;
    height: 300px;
    margin-top: 70px;
    padding-right: 10px;
    margin-left: 30px;
    padding-left: 10px;
    background-color: rgb(211, 236, 228);
    padding-top: 10px;
    border-radius: 25px;
}

.shelter {
    width: 350px;
    height: 300px;
    margin-top: 70px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 30px;
    background-color: rgb(230, 217, 209);
    padding-top: 10px;
    border-radius: 25px;
}

.education {
    width: 350px;
    height: 300px;
    margin-top: 70px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 30px;
    background-color: rgb(206, 203, 224);
    padding-top: 10px;
    border-radius: 25px;
}

.donate-plans {
    display: flex;
    margin-left: 60px;
}

.first {
    color: rgb(98, 231, 189);
    font-size: 30px;
}

.second {
    color: rgb(226, 162, 123);
    font-size: 30px;
}

.third {
    color: rgb(113, 93, 223);
    font-size: 30px;
}

.poor-child {
    width: 500px;
    height: 400px;
    margin-left: 80px;
    border-radius: 20px;

}

.helping-poor {
    width: 400px;
    margin-left: 100px;
}

.fourth-section {
    display: flex;
    margin-top: 150px;
}

.update {
    text-align: center;
    margin-top: 100px;
}

.form {
    text-align: center;
    width: 800px;
    background-color: rgb(184, 204, 219);
    height: 100px;
    padding-top: 50px;
    margin-left: 300px;
    padding-bottom: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

#email {
    height: 40px;
    width: 300px;
    margin-right: 0;
    padding-top: 5px;
    border-radius: 5px;
}

.subscribe {
    font-size: 20px;
    padding-left: 20px;
    background-color: rgb(231, 16, 16);
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 13px;
    margin-left: -5px;
    border-radius: 5px;

}

.decorate {
    text-decoration: none;
    color: white;
}

.footer-title {
    font-size: 40px;
    font-family: 'Lobster', cursive;
    color: rgb(155, 32, 10);
}

.footer-text {
    color: lightslategray;
    font-family: 'Roboto',
        sans-serif;
}

footer {
    text-align: center;
    margin-top: 150px;
    background-color: black;
    height: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}

.contribute {
    margin-top: 50px;
}